In [1]:
import pandas as pd

df = pd.DataFrame({'weight':[45,88,56,15,71],
                   'name':['sam','andera','Alex','robin','Kia'],
                   'Age':[14,25,55,8,21]})

index_ = ['Row_1','Row_2','Row_3','Row_4','Row_5']

df.index = index_

print(df)

       weight    name  Age
Row_1      45     sam   14
Row_2      88  andera   25
Row_3      56    Alex   55
Row_4      15   robin    8
Row_5      71     Kia   21

In [2]:
result =  df.loc['Row_2','name']
print(result)

result2 = df.loc['Row_1',['name','Age']]
print(result2)

andera
name    sam
Age      14
Name: Row_1, dtype: object

In [3]:
df = pd.DataFrame({'A':[45,88,56,15,71],
                   'B':[7,2,3,4,5],
                   'C':[14,25,55,8,21],
                    'D':[12,3,54,67,89]})

index_ = ['Row_1','Row_2','Row_3','Row_4','Row_5']

df.index = index_

print(df)

        A  B   C   D
Row_1  45  7  14  12
Row_2  88  2  25   3
Row_3  56  3  55  54
Row_4  15  4   8  67
Row_5  71  5  21  89

In [7]:
result = df.loc[:,['A','D']]

print(result)

        A   D
Row_1  45  12
Row_2  88   3
Row_3  56  54
Row_4  15  67
Row_5  71  89