In [21]:
#selecting a single columns

import pandas as pd

data = pd.read_csv("nba-2.csv",index_col="Name")   #retrieving columns by indexing operators

first = data["Age"]
collage = data['College']
alldata = data[['Age','Number','Salary']]

#print(data)

print(first)
print(collage)
print(alldata)
print(data.columns.tolist())

Name
Avery Bradley    25
Jae Crowder      25
John Holland     27
R.J. Hunter      22
Jonas Jerebko    29
                 ..
Trey Lyles       20
Shelvin Mack     26
Raul Neto        24
Tibor Pleiss     26
Jeff Withey      26
Name: Age, Length: 457, dtype: int64
Name
Avery Bradley                Texas
Jae Crowder              Marquette
John Holland     Boston University
R.J. Hunter          Georgia State
Jonas Jerebko                  NaN
                       ...
Trey Lyles                Kentucky
Shelvin Mack                Butler
Raul Neto                      NaN
Tibor Pleiss                   NaN
Jeff Withey                 Kansas
Name: College, Length: 457, dtype: object
               Age  Number     Salary
Name
Avery Bradley   25       0  7730337.0
Jae Crowder     25      99  6796117.0
John Holland    27      30        NaN
R.J. Hunter     22      28  1148640.0
Jonas Jerebko   29       8  5000000.0
...            ...     ...        ...
Trey Lyles      20      41  2239800.0
Shelvin Mack    26       8  2433333.0
Raul Neto       24      25   900000.0
Tibor Pleiss    26      21  2900000.0
Jeff Withey     26      24   947276.0

[457 rows x 3 columns]
['Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College', 'Salary']

In [38]:
rows = data.loc[['Avery Bradley','John Holland']]  #retriving perticular multiple row values 
print(rows)

row2 = data.loc[['Avery Bradley','John Holland'],['Age','Number','Salary']]   #retriving the particular row with particular column value
print(row2)

                         Team  Number Position  Age Height  Weight  \
Name
Avery Bradley  Boston Celtics       0       PG   25  2-Jun     180
John Holland   Boston Celtics      30       SG   27  5-Jun     205

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
John Holland   Boston University        NaN
               Age  Number     Salary
Name
Avery Bradley   25       0  7730337.0
John Holland    27      30        NaN

In [39]:
row3 = data.iloc[3]   #retriving the perticular row data using iloc with row index
print(row3)

rowm = data.iloc[[2,3]]   #retriving the perticular multiple row data using iloc with row index
print(rowm) 

row4 = data.iloc[[4],[4,5,2,0]]  #retriving the perticular row with perticular cloumn data using iloc with row index
print(row4)

row4 = data.iloc[[4,6],[4,5,2,0,7]]  #retriving the perticular row with perticular cloumn data using iloc with row index
print(row4)

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object
                        Team  Number Position  Age Height  Weight  \
Name
John Holland  Boston Celtics      30       SG   27  5-Jun     205
R.J. Hunter   Boston Celtics      28       SG   22  5-Jun     185

                        College     Salary
Name
John Holland  Boston University        NaN
R.J. Hunter       Georgia State  1148640.0
               Height  Weight Position            Team
Name
Jonas Jerebko  10-Jun     231       PF  Boston Celtics
               Height  Weight Position            Team     Salary
Name
Jonas Jerebko  10-Jun     231       PF  Boston Celtics  5000000.0
Jordan Mickey   8-Jun     235       PF  Boston Celtics  1170960.0